!   96  120  144  168  192
! 100% 125% 150% 175% 200%
Xft.dpi: 144
Xcursor.theme: Paper
Xcursor.size: 48
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
