ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0853", ATTRS{idProduct}=="0100", ATTRS{manufacturer}=="Topre Corporation", ATTRS{product}=="HHKB Professional", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/_USER_/.Xauthority", RUN+="/usr/bin/set_hhkb_layout.sh"

