[Desktop Entry]

Type=Application

Version=1.0
Name=Insomnia
Comment=HTTP and GraphQL Client
Path=/opt/AppImages/
Exec=./insomnia.AppImage
Icon=insomnia
Terminal=false
Categories=Development;

