(
    selected_tab: None,
    command_fg: None,
    selection_bg: Some(DarkGray),
    selection_fg: None,
    cmdbar_bg: Some(Indexed(237)),
    cmdbar_extra_lines_bg: Some(Indexed(237)),
    disabled_fg: None,
    diff_line_add: None,
    diff_line_delete: None,
    diff_file_added: None,
    diff_file_removed: None,
    diff_file_moved: None,
    diff_file_modified: None,
    commit_hash: Some(Yellow),
    commit_time: None,
    commit_author: Some(Blue),
    danger_fg: None,
    push_gauge_bg: Some(Yellow),
    push_gauge_fg: None,
    tag_fg: None,
    branch_fg: Some(Magenta),
    line_break: Some("¬"),
)
