[Desktop Entry]

Type=Application

Version=1.0
Name=Lens
Comment=The Kubernetes IDE
Path=/opt/AppImages/
Exec=./lens.AppImage
Icon=lens
StartupWMClass=Lens
Terminal=false
MimeType=x-scheme-handler/lens;
Categories=Network;

