[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pierre/Bureau/micro_entreprise.txt]
row=3
col=0

[/home/pierre/Bureau/loc.txt]
row=5
col=0

[/home/pierre/Bureau/num_alloc.txt]
row=4
col=0

[/home/pierre/Bureau/sets]
row=1
col=0

[/home/pierre/Bureau/onion_link.txt]
row=2
col=0

[/home/pierre/Bureau/ygg.txt]
row=2
col=1

[Corbeille]
row=0
col=0

